# created by virtualenv automatically
/covers/
/images/
/project/
database/medicalimages.db-shm
database/medicalimages.db-wal
database/medicalimages - 副本.db
/infomation/
/format_html
/format_html_over
/venv